---
interface Props {
  label: string;
  link: string;
}

const { label, link } = Astro.props;
---

<a href={link}>{label}</a>

<style>
  a {
    padding: 0.5em 1em;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 3px;
    border: 1px solid var(--color-primary);
    text-decoration: none;
    transition: 0.2s;
    transition-property: background-color color;
  }
  a:hover {
    background-color: #fff;
    color: var(--color-primary);
  }
</style>
